---
import { Login as LoginComponent } from '../components/Auth/Login';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Login">
    <main class="container mx-auto px-4">
        <LoginComponent client:load />
    </main>
</Layout>