---
import HeroVideoDialog from "@/components/ui/hero-video-dialog";
import Container from "@/shared/Container.astro";
---

<section class="py-4 bg-white dark:bg-gray-900">
  <Container class="text-center">
    <h2 class="py-2 text-4xl lg:text-5xl xl:text-6xl text-center font-bold lg:tracking-tight xl:tracking-tighter bg-clip-text text-transparent bg-gradient-to-r from-white/90 to-gray-600">
      How We Work
    </h2>


    <div class="relative">
      <HeroVideoDialog
        client:load
        className="dark:hidden block"
        animationStyle="top-in-bottom-out"
        videoSrc="https://www.youtube.com/embed/sBEzE4PCmqM?si=jwVET1LbWrlaCaWr"
        thumbnailSrc="/images/howMoldWork.jpg"
        thumbnailAlt="Hero Video"
      />
      <HeroVideoDialog
        client:load
        className="hidden dark:block"
        animationStyle="top-in-bottom-out"
        videoSrc="https://www.youtube.com/embed/sBEzE4PCmqM?si=jwVET1LbWrlaCaWr"
        thumbnailSrc="/images/howMoldWork.jpg"
        thumbnailAlt="Hero Video"
      />
    </div>
    <p class="mt-4 text-gray-600 dark:text-gray-300">
      Source From PROTOLABS