---
// src/pages/become-partner.astro
import CustomLayout from '@/components/layout/CustomLayout.astro';
import Form from '../components/Form.tsx';
---

<CustomLayout title="Become a Partner">
  <main class="container mx-auto p-4">
    <Form client:load />
  </main>
</CustomLayout >