---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import SpeedInsights from "@vercel/speed-insights/astro";
import VideoExplain from "@/components/blocks/VideoExplain.astro";
import Promotion from "@/components/annoucement/Promotion.astro";
import JobworkAnnoucer from "@/components/annoucement/JobworkAnnoucer.astro";
import OurService from "@/components/blocks/OurService.astro";
import TextAnnoucer from "./textAnnoucer.astro";
import { getLatestAnnouncement } from "@/lib/announcementService";



// Default announcement text
let announcementText = "Welcome to JobWerk!";

// Try to fetch the announcement text from Firestore
try {
  announcementText = await getLatestAnnouncement();
  console.log("Fetched announcement:", announcementText);
} catch (error) {
  console.error("Error fetching announcement:", error);
  // Keep using the default text
}
---

<Layout title="JobWerk | Co-own Mold with Multiply Your Molds | Divide The Cost">
 
  <main class="flex flex-col overflow-hidden">
   
    <TextAnnoucer text={announcementText} />
    <Hero />
    <JobworkAnnoucer />
    <OurService />
    <VideoExplain />

    <Promotion />
    <SpeedInsights />
  </main>
</Layout>
