---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
import SpeedInsights from "@vercel/speed-insights/astro";
import VideoExplain from "@/components/blocks/VideoExplain.astro";
import Promotion from "@/components/annoucement/Promotion.astro";
import JobworkAnnoucer from "@/components/annoucement/JobworkAnnoucer.astro";
import OurService from "@/components/blocks/OurService.astro";
import FooterTextAnnouncer from "@/components/annoucement/TextBaseAnnouncer.astro/FooterTextAnnouncer.astro";



---

<Layout title="JobWerk | Co-own Mold with Multiply Your Molds | Divide The Cost">
 
  <main class="flex flex-col overflow-hidden">
    <FooterTextAnnouncer text="💥Exciting News! 🚀JobWerk Now Offers Fractional Mold Sharing!🔹Cut costs & boost efficiency with shared injection molding solutions. Join the future of smart manufacturing today! 📞 Contact us now! | #JobWerk #InjectionMolding #SmartManufacturing" />
    <Hero />
    <JobworkAnnoucer />
    <OurService />
    <VideoExplain />

    <Promotion />
    <SpeedInsights />
  </main>
</Layout>
