---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/navbar/Navbar.astro";
import Login from "../components/Auth/Login"
---

<Layout title="Login">
  <main class="container mx-auto px-4">
    <Navbar />
    <Login client:load />
  </main>
</Layout>