---
import { AnimatedBanner } from "./AnimatedBanner";
---

<header
  id="announcement-banner"
    class="mt-0 relative overflow-hidden bg-gradient-to-r from-background-gradient-from to-background-gradient-to text-text-color"
>
<div class="absolute inset-0 overflow-hidden ">
  <AnimatedBanner client:load />
</div>
  <div class="max-w-7xl mx-auto px-4 text-center"></div>
  <div
    class="relative flex min-h-[44px] w-screen items-center justify-between bg-[#2DF8C5]/80 text-[#013437] md:items-center md:justify-between md:gap-6 md:py-0 md:text-center md:text-[18px]"
  >
    <div class="max-w-7xl mx-auto px-4 text-center font-rubik text-[18px] flex items-center justify-between w-full">
      
      <p>
        Multiply Your Molds, Devide The Costs | Manufacturing with JobWerk
        &nbsp;<strong class="underline animate-blink">Explore More</strong>
      </p>
      <button 
        class="hover:opacity-75 transition-opacity"
        aria-label="Close banner"
        onclick="document.getElementById('announcement-banner').style.display = 'none'"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
</header>

<style>
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
      animation: blink 2s infinite;
      animation-delay: 4s;
    }
</style>