---

---

<header
  class="mt-0 bg-gradient-to-r from-background-gradient-from to-background-gradient-to text-text-color"
>
  <div class="max-w-7xl mx-auto px-4 text-center"></div>
  <div
    class="flex min-h-[44px] w-screen cursor-pointer items-center justify-between bg-[#2DF8C5] text-[#013437] md:items-center md:justify-between md:gap-6 md:py-0 md:text-center md:text-[18px]"
  >
    <div class="max-w-7xl mx-auto px-4 text-center font-rubik text-[18px]">
      <p>
        Multiply Your Molds, Devide The Costs | Manufacturing with JobWerk
        |&nbsp;<strong class="underline">Explore More</strong>
      </p>
    </div>
  </div>
</header>
