---
import Link from "../components/ui/Link.astro";
import Typeform  from "./Typeform";




---


  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Source Plastic Mold Parts.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Source Your Plastic Mold Parts.<wbr />With Outsourcing Injection Molding(Jobwerk™).<wbr />Delivering Plastic Parts With Reliability and Cost-effectiveness
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://afeigzuaza1.typeform.com/to/EUuNVQNA"

        target="_blank"
        size="lg"
        class="flex gap-1 items-center justify-center "
        rel="noopener">
         Take a Survey
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="#"
        class="flex gap-1 items-center justify-center "
        target="_blank">   
         Become a Partner
      </Link>
    </div>
  </div>
</main>



