---
import Link from "../components/ui/Link.astro";
import { Meteors } from "./ui/meteors";
import Container from "../shared/Container.astro";

---

<main class="relative w-full bg-gradient-to-b from-slate-900 to-slate-800">
  <!-- Background Meteors -->
  <Meteors client:load number={30} />
  
  <Container fluid={true} class="flex w-full lg:w-auto  justify-between flex-col items-center relative z-10 py-8 md:py-16">
    <div class="text-center max-w-3xl mx-auto">
      <h1 class="text-4xl lg:text-6xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-300">
        Multiply Your Molds </br> Divide The Cost
      </h1>
      
      <p class="text-lg mt-4 font-semibold text-gray-300/90 max-w-xl mx-auto leading-relaxed">
        We make it easy to get the materials, molds, and expertise you need to manufacture your products & Parts
      </p>

      <div class="mt-10 flex flex-wrap gap-4 justify-center">
        <Link
        href="https://afeigzuaza1.typeform.com/to/EUuNVQNA"
        target="_blank"
        size="lg"
        class="flex-1 relative group overflow-hidden rounded-lg bg-white/10 hover:bg-white/20 backdrop-blur-sm transition-all duration-300 px-4 py-2 sm:px-6 sm:py-3 md:px-8 md:py-3"
        rel="noopener">
        <span class="relative z-10 text-white font-medium text-sm sm:text-base md:text-lg">Take a Survey</span>
        <div class="absolute inset-0 bg-gradient-to-r from-blue-500/40 to-purple-500/40 opacity-0 group-hover:opacity-100 transition-opacity" />
      </Link>
      
      <Link
        size="lg"
        href="/#"
        class="flex-1 relative group overflow-hidden rounded-lg border border-white/20 hover:border-white/40 transition-all duration-300 px-4 py-2 sm:px-6 sm:py-3 md:px-8 md:py-3"
        target="_blank"
        rel="noopener">
        <span class="relative z-10 text-white font-medium text-sm sm:text-base md:text-lg">Become a Partner</span>
        <div class="absolute inset-0 bg-gradient-to-r from-purple-500/10 to-blue-500/10 opacity-0 group-hover:opacity-100 transition-opacity" />
      </Link>
      </div>
    </div>
  </Container>
</main>