---
import Link from "../components/ui/Link.astro";


---


  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Source Your Plastic Mold Parts Here.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Source Your Plastic Mold Parts Here specializes in injection molding outsourcing.<wbr /> delivering precision-engineered plastic parts with reliability and cost-effectiveness.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://afeigzuaza1.typeform.com/to/U6DhtQdZ"
        target="_blank"
        class="flex gap-1 items-center justify-center "
        rel="noopener">
         Take a Survey
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center "
        target="_blank">   
         Become a Partner
      </Link>
    </div>
  </div>
</main>



