---

import Navbar from "../components/navbar/Navbar.astro";
import Footer from "../components/Footer.astro";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
   
   <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/46558019.js"></script>
  <!-- End of HubSpot Embed Code -->
	</head>
  </head>
  <body>
    <Navbar />
    
    <slot />

  </body>

  <Footer/>
</html>